#welcome-world {
    width: auto;
    height: auto;
    padding-right: 15px;
    padding-top: 1em;
    justify-content: right;
    padding-left: 15px;
    position: relative;
    box-sizing: border-box;
    text-align: center;
    background-color:pink
}


#catalog,
#create,
#edit,
#loginPage,
#profile,
#registerPage{
background-image: url('../images/back.webp');
}
#welcome-world .welcome-message {
    display: inline-block;
    z-index: 999;
    margin: 0 auto;
    left: 0;
    margin-right: 5em;
    top: 40%;
    text-align: center;
    width: 30%
}

#welcome-world>img {
    height: 35rem;
    display: inline-block;
    vertical-align: middle;
    margin-left: auto;
    margin-bottom: 3em;
    margin-top: 3em;
    max-width: 60%;
    padding-left: auto;
    border-radius: 5%;
}

.welcome-message h2 {
    color: #ffffff;
    font-size: 300%;
    font-size: 55px;
    line-height: 1;
    font-weight: 700;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: uppercase;
    text-shadow: 0 2px 4.8px rgba(0, 0, 0, 0.3);
    font-family: "Agency FB";
}

.welcome-message h3 {
    color: rgb(204, 144, 131);
    font-size: 600%;
    text-shadow: none;
    line-height: 1;
    font-weight: 700;
    text-align: center;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: uppercase;
    font-weight: 700;
    text-shadow: 0 2px 4.8px rgba(0, 0, 0, 0.3);
    font-family: "Agency FB";
}

#welcome-world>#home-page {
    width: 50% fit-content;
    margin: auto;
    text-align: center;
}

#home-page {
    background-color: whitesmoke;
    box-shadow: 0px 0px 40px 0px;
    overflow: hidden;
    border-radius: 10px;
    padding: 55px;
    height: auto;
    width: auto;
}

.mattress {
    box-shadow: 0px 0px 30px 0px;
    background-color: rgba(128, 128, 128, 0.715);
    margin-top: 20px;
    /* padding: 50px; */
    margin-left: 30px;
    background-position: right 35% bottom 45%;
    box-sizing: border-box;
    border-radius: 15px;
    float:left;
    height: auto;
    color: black;
}

.image-wrap {
    width: 250px;
    height: 250px;
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    text-align: center;
}

.image-wrap>img {
    max-width: 100%;
}

.game>h3 {
    font-family: "Agency FB";
    font-size: 42px;
    font-weight: 700;
    line-height: normal;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all 0.5s ease-out;
    text-align: center;
    text-transform: uppercase;
}

h4 {
    color: blue;
    font-size: 24px;
    text-align: center;
    font-weight: 700;
    line-height: normal;
    padding-top: 20px;
}

.rating {
    unicode-bidi: bidi-override;
    text-align: center;
    direction: rtl;
}

.rating span {
    font-size: 40px;
    padding: 4px;
}

.rating span:before {
    content: "\2605";
    position: absolute;
    color: gold;
}

.details-btn {
    background-color: #fd5454;
    font-size: 1.4rem;
    padding-top: 20px;
    margin-top: 10px;
    color: white;
    padding: 0.9em 1.4em;
}

.data-buttons {
    font-size: 1.4rem;
    padding-top: 20px;
    text-align: center;
    
}

.btn.details-btn:hover {
    background-color: rgb(192, 129, 117);
    color: white;
}

#home-page>h1 {
    color: rgb(252, 168, 151);
    text-align: center;
    font-weight: 700;
    font-size: 84px;
    font-family: "Agency FB";
}

.no-articles {
    color: black;
    text-align: center;
    font-weight: 700;
    font-size: 60px;
    font-family: "Agency FB";
}

 
:link{
    position: relative;
    padding: 10px;
    color: blueviolet;
}

